html,
body {
    height: 100%;
    margin: 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    /*background: #ffffff url("../background.jpg") no-repeat right top;*/
    /*background-size: cover;*/
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.form {
    height: 500px;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
}

.form-control {
    height: 50px;
}

.step {
    display: none;
}

.title {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin: 15px;
    color: #000;
}

.form p.form-controls {
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
}

.btn {
    width: 45%;
    height: 50px;
    display: inline-block;
    margin: 5px;
    line-height: 2.7;
    outline: none;
}

.btn-disable, .btn-disable:focus, .btn-disable:hover, .btn-disable:active {
    background-color: #b7b7b7;
    border-color: #b7b7b7;
}

#submit {
    display: none;
}

.result {
    word-break: break-word;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.success {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.error {
    background-color: #e48881;
    border: 1px solid #f0312d;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: none;
}